:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--slate-50);
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: var(--slate-600);
  color: var(--slate-50);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding: 16px;
  display: grid;
  align-content: start;
  row-gap: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-dashboard {
  width: 32px;
  aspect-ratio: 1;
}

.title {
  font-size: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links > li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 24px;
  aspect-ratio: 1;
}

.header {
  background-color: var(--slate-50);
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0px 20px;
  border-bottom: 2px solid rgba(15, 23, 42, 0.2);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar > input {
  outline: none;
  border: none;
  background-color: var(--slate-300);
  padding: 5px;
  border-radius: 12px;
  width: 100%;
}

.account-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.account-info > p {
  font-weight: bold;
}

.small-profile {
  background-color: #facc15;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.small-pic {
  width: 28px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile > div > p {
  font-size: 0.9rem;
}

.big-profile {
  background-color: #facc15;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.big-pic {
  width: 40px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.btn {
  border: none;
  background-color: var(--slate-600);
  color: var(--slate-100);
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 15px;
  cursor: pointer;
}

.main-content {
  background-color: var(--slate-300);
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.card {
  background-color: var(--slate-50);
  padding: 20px;
  border-radius: 10px;
  border-left: 8px solid var(--slate-800);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-title {
  font-weight: bold;
}

.card-description {
  font-size: 0.9rem;
  color: var(--slate-500);
}

.card-icons {
  text-align: end;
}

.social-cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 20px 20px 20px 0px;
  gap: 20px;
}

.right-card {
  background-color: var(--slate-50);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 0.8rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: space-evenly;
}

.trending-social {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  gap: 10px;
}

.news > p:first-child {
  font-weight: bold;
}

.trending-text > p {
  font-weight: bold;
}
